.card__like {
    width: 22px;
    height: 19px;
    align-self: center;
    padding: 0;
    background: none;
    border: none;
    background-image: url(../../../images/like_disable.svg);
    background-position: center;
    margin-right: 30px;
    box-sizing: border-box;
}

.card__like:hover {
    opacity: 0.5;
    transition: 0.7s;
    cursor: pointer;
}