.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    max-width: 445px;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-left: 35px;
        max-width: 230px;
    }
}
