.modal__input {
    max-width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 5px;
}

.modal__input:first-child {
    margin-bottom: 30px;
    margin-right: 36px;
}

.modal__input:last-child {
    margin-right: 36px;
}