.profile__about {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 445px;
}

@media screen and (max-width: 800px) {
    .profile__about {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        max-width: 230px;
    }
}
