.frame__btn {
    background: none;
    background-image: url(../../../images/Close_Icon.svg);
    background-size: cover;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
    z-index: 2;
    margin: 0px 0px 8px 0px;
    margin-left: calc(100% + 8px);
    padding-left: 20px;
}

.frame__btn:hover {
    opacity: 0.6;
    transition: 0.7s;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .frame__btn {
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-bottom: 16px;
        margin-left: auto;
    }
}

@media screen and (max-width: 480px) {
    .frame__btn {
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-bottom: 16px;
    }
}